ARANGO_USER=root
ARANGO_ROOT_PASSWORD=
ARANGO_HOST=arangodb
ARANGO_PORT=8529
ARANGO_DB_NAME=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_WORKING_S3_BUCKET=

AWS_S3_BACKUP_DIR=
ARANGO_BACKUP_CRON=
ARANGO_BACKUP_FILES_COUNT=10

ARANGO_TEST_BACKUP_PATH=artifacts/test-dump.tar.gz

ARANGO_DB_RUN_OPTION=STANDART or MINIMUM_MEMORY_USAGE

BACKUP_DIR_NAME=spendingtracker-dev-backup
